html {
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  text-rendering: optimizeLegibility;
  background: linear-gradient(0.5turn, #B9C9FB, #ebf8e1, #FBF3B9);
}

header {
  background-color: #B8C9FE;
  height: 5%;
}

img.header {
  width: 210px;
  height: 70px;
}

table {
  position: relative;
  align: center;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin: 0px;
}

th {
  font-family: Arial;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  background: #B8C9FE;
}

th, td {
  font-family: Arial;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

th img, td img {
  height: 5vh;
}

legend {
	color: black;
	text-shadow: 4px 4px 3px rgba(150, 150, 150, 1);
}

fieldset {
  border: 1px solid white;
  border-radius: 8px;
  background: white;
  box-shadow: 7px 7px 20px 0px  rgba(0,0,0,0.3);
}

h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border: 1px solid Black;
  border-radius: 10px;
  padding: 1%;
  background-color: #FBF3B9;
}

h3 {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

h4 {
  font-family: Arial;
  font-size: 12px;
  text-align: center;
}

span {
  font-family: Arial;
  text-align: center;
  font-size: 12vh;
  padding-bottom: 0px;
  margin-bottom: 200px;
  border: 1px solid black;
}

/*span e h5 reservados para o indice uv*/

.aviso {
  animation: layerize cubic-bezier(0.4, 0, 0.2, 1) 700ms 200ms infinite alternate;
  opacity: 0;
  width: 100%;
  color: #fff;
  font: 500 80vmin "Arial", sans-serif;
  cursor: default;
  user-select: none;
  text-align: center;
  font-size: 16vh;
}

@keyframes layerize {
  0% {
    opacity: 0;
    transform: translate(0, 0);
    text-shadow: 0 0 transparent, 0em 0em rgba(255, 255, 255, 0.4), 0em 0em rgba(255, 255, 255, 0.3), 0em 0em rgba(255, 255, 255, 0.2), 0em 0em rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    transform: translate(-0.066666em, -0.066666em);
    text-shadow: 0 0 transparent, 0.033333em 0.033333em rgba(255, 255, 255, 0.4), 0.066666em 0.066666em rgba(255, 255, 255, 0.3), 0.099999em 0.099999em rgba(255, 255, 255, 0.2), 0.133332em 0.133332em rgba(255, 255, 255, 0.1);
  }
}

.button {
  background-color: AliceBlue;
  color: Black;
  border: 1px;
  text-align: center;
  font-size: 14px;
  transition-duration: 0.2s;
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: RoyalBlue;
  border: 2px;
  color: Black;
}

.button-time-chart {
  background-color: LightBlue;
  border: 1px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  padding: 2px;
}

.button-temp-chart {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  padding: 2px;
}

.button-humi-chart {
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  padding: 2px;
}

.button-uv-chart {
  background-color: rgba(192, 0, 255, 0.5);
  border: 1px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  padding: 2px;
}

.camera-image {
  position: relative;
  left: 5%;
  width: 90%;
  height: 100%;
}

.gate {
  border-radius: 8px;
  padding: 0.5vw;
}

.gate-open {
 background-image: radial-gradient(circle, #0da804, #37bd2f, #53d34c, #6be967, #83ff82);
 }

.gate-closed {
   background-image: radial-gradient(circle, #f21b1b, #f73330, #fa4643, #fd5654, #ff6565);
}

.lens-box{
  background-color: #FBF3B9;
  border-radius: 8px;
  padding: 2px;
}

.lens-alert-box{
  position: relative;
  width: 80%;
  left: 10%;
  padding: 1px;
  border-radius: 8px;
  background-color: #ff0099;
  align: center;
}

.box-alerta-gate {
  position: relative;
  width: 50%;
  left: 25%;
  padding: 1px;
  border-radius: 100px;
  background: radial-gradient(circle, #fb0404, #f92f04, #f84306, #f6520c, #f45f13);
 /* background: radial-gradient(circle, #eb1212, #f0410b, #f55e07, #f8750a, #fb8b15);  */
 }

.portao {
font: 100 30px/1 'Source Sans Pro', Arial, sans-serif; text-transform: uppercase; color: #fff; text-align: center; letter-spacing: -3px;
text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
 padding-bottom: 2%;
}

/*Índice UV*/

.box-uv{
  position: relative;
  width: 50%;
  height: 50%;
  left: 25%;
  padding: 0.5px;
  border-radius: 8px;
}

.uv-index-number {
  font-family: Arial;
  font-size: 15vh;
  text-align: center;
  padding: 5px;
}

.uv-index-level {
  font-family: Arial;
  font-size: 4vh;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.uv-index-1{
  background-color: #4eb400;
}

.uv-index-2{
  background-color: #a0ce00;
}

.uv-index-3{
  background-color: #f7e400;
}

.uv-index-4{
  background-color: #f8b600;
}

.uv-index-5{
  background-color: #f88700;
}

.uv-index-6{
  background-color: #f85900;
}

.uv-index-7{
  background-color: #e82c0e;
}

.uv-index-8{
  background-color: #d8001d;
}

.uv-index-9{
  background-color: #ff0099;
}

.uv-index-10{
  background-color: #b54cff;
}

.uv-index-11{
  background-color: #998cff;
}

.chart {
  width: 100%;
  height: 24vh;
}

.efeito {
	color: White;
	padding: 2%;
	font-size: 32px;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  text-align: center;
}

#grad-alert-days {
  background: Yellow;
}

.left-box {
  position: absolute;
  top: 90px;
  left: 2%;
  background-color: White;
  width: 20%;
  padding: 0.5%;
  border-radius: 12px;
}

.center-box {
  position: absolute;
  top: 90px;
  left: 24.5%;
  background-color: White;
  width: 50%;
  padding: 0.5%;
  border-radius: 12px;
}

.right-box {
  position: absolute;
  top: 90px;
  right: 2%;
  background-color: White;
  width: 20%;
  padding: 0.5%;
  border-radius: 12px;
}

.loading-image {
  height: 20%;
  position: relative;
  left: 25%;
}
